{% extends 'accounts/base.html' %}

{% load static %}

{% block content %}

    <div class="container text-center mb-5 mt-2 mr-1 ml-1">
      <h1 class="jumbotron-heading">Please Sign-In!</h1>

    </div>

    <form class="form-signin" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4 class="alert-heading">Username or Password is wrong!!</h4>
            </div>
        {% endif %}

        <div class="form-label-group mb-1">
            <input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required=""
                   autofocus="">
        </div>

        <div class="form-label-group mb-3">
            <input type="password" name="password" id="id_password" class="form-control" placeholder="Password"
                   required="">
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

{% endblock content %}